<div class="col-lg-3 search-form">
	<h2 style="color: #b64131">Search recipe based on ingredient(s)</h2>
	<%= render 'form' %>
</div>
<div class="col-lg-9" id="search-results">
</div>

<script>
  $( function() {
    var availableTags = <%= @all_ingredients.inspect.html_safe %>;
    $( ".ingredient-autocomplete" ).autocomplete({
      source: availableTags
    });

    document.querySelector('#more-less-filter').onclick = function() {
      if (this.innerHTML === "Hide filters") {
        this.innerHTML = "More filters";
      } else {
        this.innerHTML = "Hide filters";  
      }
    }

    var didScroll = false;
    var resultsDiv = document.querySelector('#search-results')

    resultsDiv.onscroll = function() {
      var pixelsBelow = resultsDiv.scrollHeight - resultsDiv.clientHeight - resultsDiv.scrollTop;
      if (pixelsBelow < 20) {
        didScroll = true;
      }
    }

    setInterval(function() {
      if (didScroll && $('.recipe-thumbnail:last').is(':hidden')) {
        didScroll = false;
        $('.recipe-thumbnail:hidden').slice(0,6).show();
        if ($('.recipe-thumbnail:last').is(':visible')) {
          $('#more-results').hide();
        }
      }
    }, 1000); 
   
 
  } );
</script>