<div class="col-lg-3 search-form">
	<h2 style="color: #b64131">Generate recipe from ingredients</h2>
	<%= render 'form' %>
</div>
<div class="col-lg-9 search-background">
	<div id="search-results">
	</div>
</div>

<script>
  $( function() {
    var availableTags = <%= @all_ingredients.inspect.html_safe %>;
    $( ".ingredient-autocomplete" ).autocomplete({
      source: availableTags
    });
  } );
</script>