<h1>Welcome#index</h1>

<% if current_user %>
	<%= link_to "Meal Planner", user_plans_path(current_user), method: :get %>
	<%= link_to "Grocery List" %>
<% else %>
	<%= link_to "Meal Planner", new_user_session_path %>
	<%= link_to "Grocery List" %>
<% end %>