<!DOCTYPE html>
<html lang = "en">

<h1> Online Shop </h1>

<div class="floating-box">
<p>
	<a href= "https://eshop.tesco.com.my/groceries/en-GB/?gclid=CjwKEAiA6YDBBRDwtpTQnYzx5lASJAC57ObM48kXDt8EVNyG6Zwmhd_FfDTfCWYpmp6Nqabqd4mWahoCq7fw_wcB" target="_blank"><img class="img-circle" src="http://www.dundrum.ie/images/Tesco_mobile_.jpg"/></a>
</p>
</div>

<div class="floating-box">
<p>
	<a href= "http://www.11street.my/category/grocery/2049" target="_blank"><img class="img-circle" src="https://pbs.twimg.com/profile_images/565422662537580544/9uSz8-e6.png"/></a>
</p>
</div>

<div class="floating-box">
<p>
	<a href= "https://www.happyfresh.my/" target="_blank"><img class="img-circle" src="http://studentjob.co.id/wp-content/uploads/2015/04/happyfresh-dribbble_1x.png"/></a>
</p>
</div>

<div class="floating-box">
<p>
	<a href= "http://www.freshcart.com.my/freshcart/" target="_blank"><img class="img-circle" src="https://pbs.twimg.com/profile_images/424482819629264896/W3jSSExx_400x400.jpeg"/></a>
</p>
</div>

<div class="floating-box">
<p>
	<a href= "http://shop.redtick.com/" target="_blank"><img class="img-circle" src="http://188.166.180.103/wp-content/uploads/2016/05/RedTick-300x209.png"/></a>
</p>
</div>