// Place all the styles related to the groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.groceries {
	background-image: url("bg-shop2.jpg");
	background-size: cover;
	background-position: center top;
}

#wrapper_groceries {
	margin-top: 50px;
	width: 100%;
	height: 89%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#wrapper_map {
	width: 100%;
	height: 89%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	h1 {
		font-size: 50px;
	}

	#map-container {
		width: calc(100% - 200px);
	}

	.map-caption {
		height: 400px;
		overflow-y: auto;
	}
}

#to_right, #to_left {		
	.glyphicon {
		font-size: 50px;
		color: white;
	}
}

.round-chevron {
	height: 75px;
	width: 75px;
	background-color: #323232;
	border-radius: 100px;
	padding-top: 10px;
}

#to_right { margin-right: 5px; }
#to_left { margin-left: 5px; }

#grocery-list {
	width: 500px;
	background-color: #f1f1f1;
	border-radius: 10px;
	box-shadow: 5px 5px 5px grey;
	
	padding-bottom: 5vh;
	margin-top: 5vh;
	padding-left: 3vw;
	padding-bottom: 15vh;
	height: calc(100% - 50px);
	overflow-y: auto;

	h1 { font-size: 48px; }
	h1, .form-inline {
		text-align: center;
	}

	form.button_to {
	}

	ul {
		padding-left: 0px !important;
	}
}

.ui-autocomplete {
  max-height: 50%;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
};

label[for="checked"] {
	text-decoration: line-through;
}

.edit_list {
	margin-left: 120px !important;
	text-align: left;
}