// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.plans {
	background-image: url("bg-plan.jpg");
	background-size: 40%;
	background-position: right bottom;
	background-repeat: no-repeat;
}

#wrapper_planner {
	width: 100%;
	height: calc(100%-50px);
	display: flex;
	justify-content: center;
	text-align: center;

	h1 {
		margin-top: 5vh;
		margin-bottom: 2vh;
	}
}

#planner {
	width: 90vw;
}

#planner-table {
	display: flex;

	.planner-cell {
		width: 14.286%;
		height: 50vh;
		border: 1px solid #777;
		background-color: rgba(240,240,240,0.9);
		margin: 5px;
		padding: 15px 5px;
		overflow: auto;
	}

	.planner-plan {
		margin: 10px 0px;
	}
}

.recipe-autocomplete {
	width: 70% !important;
}


table#outer {
  width: 90vw;
  height: 50vh;
  table-layout: fixed;
  word-wrap: break-word;

  > tbody > tr > td {
		background-color: rgba(240,240,240,0.9);
		border: 1px solid black;
		vertical-align: top;
		padding-top: 10px !important;
	}

	td.empty {
		width: 10px !important;
		background: none;
		border: none;
		color: #f1f1f1;
	}
}
