// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.plans {
	background-image: url("bg-plan.png");
	background-size: 75%;
	background-position: right top;
	background-repeat: no-repeat;
}

#wrapper_planner {
	width: 100%;
	height: calc(100%-50px);
	display: flex;
	justify-content: center;
	text-align: center;
}

table#outer {
  width: 90vw;
  height: 50vh;
  table-layout: fixed;
  word-wrap: break-word;

  > tbody > tr > td {
		background-color: rgba(240,240,240,0.8);
		border: 1px solid black;
		vertical-align: top;
		padding-top: 10px !important;
	}

	td.empty {
		width: 10px !important;
		background: none;
		border: none;
		color: #f1f1f1;
	}
}

table#inner {
	> tbody > tr > td {
		padding: 5px 0px !important;
	}
}

.recipe-autocomplete {
	width: 70% !important;
}