// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-sm-3 {
  margin: 10;
  padding: 50px;
};


#search {
	width: 100px;
  height: 100px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("033.png");
};

#plan {
	width: 100px;
  height: 100px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
	background-image: url("021.png");
};

#shop {
	width: 100px;
  height: 100px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
	background-image: url("054.png");
};

#cook {
	width: 100px;
  height: 100px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
	background-image: url("060.png");
};